@font-face {
    font-family: FontsFree-Net-August-Stories-Serif-1;  
    src: local("FontsFree-Net-August-Stories-Serif-1"),
      url("../fonts/FontsFree-Net-August-Stories-Serif-1.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,500;1,200&display=swap');


.Content1-main-haeding{
font-family: FontsFree-Net-August-Stories-Serif-1;
font-style: normal;
font-weight: 400;
font-size: 40;
line-height: 60px;
/* identical to box height, or 107% */
text-align: center;
color: #403F3F;

}


.link{
    color: #25758A;
    text-decoration: none;

}